:root {
  /* Цвета */
  --primary-color: #21a5b9;
  --secondary-color: #fff;
  --accent-color: #f2f5fa;
  --primary-text-color: #434652;
  --secondary-text-color: #757986;
  --background-color: #fff;

  /* Шрифты */
  --font-primary: "Roboto", "Arial", sans-serif;
  --text-primary-size: 1rem; /* 16px */
  --text-secondary-size: 0.875rem; /* 14px */
  --text-title-size: 1.75rem; /* 28px */

  /* Границы */
  --border-normal: 0.0625rem solid #c4c7d1;
  --border-hover: 0.0625rem solid #c1c3c7;
  --border-active: 0.0625rem solid #9b9ea6;

  --border-accent-normal: 0.0625rem solid #69c3d1;
  --border-accent-hover: 0.0625rem solid #59a7b3;
  --border-accent-active: 0.0625rem solid #407780;

  /* Отступы */
  --button-margin-normal: 0.75rem; /* 12px */
  --input-margin-normal: 0.75rem; /* 12px */

  --margin-large: 1.5rem; /* 24px */
  --margin-normal: 0.75rem; /* 12px */
  --margin-medium: 0.50rem; /* 4px */
  --margin-small: 0.250rem; /* 4px */

  /* Внутрение отступы */
  --button-padding-normal: 0.75rem; /* 12px */
  --button-padding-small: 0.75rem; /* 12px */
  --input-padding-normal: 0.250rem; /* 4px */

  --padding-large: 1.5rem; /* 24px */
  --padding-normal: 0.75rem; /* 12px */
  --padding-small: 0.250rem; /* 4px */

  /* Закругления */
  --input-corner-min: 0.125rem; /* 2px */
  --button-corner-min: 0.125rem; /* 2px */

  /* Размеры */
  --button-height-normal: 2.25rem; /* 36px */
  --button-width-normal: 2.5rem; /* 40px */
  --input-width-normal: 7.5rem; /* 120px */
  --input-width-max: 70.9375rem; /* 1135px */
}

body{
  background-color: var(--background-color);
  font-family: var(--font-primary);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}

h1{
  font-family: var(--font-primary);
  font-size: var(--text-title-size);
  color: var(--primary-text-color);
}

h2{
  font-family: var(--font-primary);
  font-size: var(--text-primary-size);
  color: var(--primary-text-color);
}

header{
  background-color: var(--accent-color);
  padding: var(--padding-large);
  align-items: left;
  font-family: var(--font-primary);
  color: var(--primary-text-color);
  font-size: var(--text-title-size);
}

/*Поля ввода*/

input:focus{
  border: var(--border-active);
}

input{
  outline: none;
  padding: var(--input-padding-normal);
  min-width: var(--input-width-normal);
  max-width: var(--input-width-max);
  box-sizing: border-box;
  width: 100%;
  border: var(--border-normal);
  font-family: var(--font-primary);
  font-size: var(--text-secondary-size);
  color: var(--primary-text-color);
  border-radius: var(--input-corner-min);
}

/*Кнопки*/

button:hover {
  background-color: #f2f5fa;
  border: var(--border-hover);
}

button:focus {
  background-color: var(--background-color);
  border: var(--border-active);
}

button:active {
  background-color: #d3d4db;
  border: var(--border-active);
}

button {
  outline: none;
  padding: var(--button-padding-small) var(--button-padding-normal);
  min-width: var(--button-width-normal);
  min-height: var(--button-height-normal);
  background-color: var(--background-color);
  color: var(--primary-text-color);
  border: var(--border-normal);
  font-family: var(--font-primary);
  font-size: var(--text-secondary-size);
  display: flex;
  align-items: center;
  border-radius: var(--button-corner-min);
}

.button-accent:hover{
  background-color: #1e94a6;
  color: var(--secondary-color);
  border: var(--border-accent-hover);
}

.button-accent:focus{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--border-accent-active);
}

.button-accent:active {
  background-color: #167180;
  color: var(--secondary-color);
  border: var(--border-accent-active);
}

.button-accent{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--border-accent-normal);
}
